<!DOCTYPR html>
<html>
<head>
    <title>Swachh Enterprises</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#houseKeepingItems").hide();
		$("#stationary").click(function() {
			$("#houseKeepingItems").hide();
			$("#stationaryItems").show();
		});
		$("#houseKeeping").click(function() {
			$("#stationaryItems").hide();
			$("#houseKeepingItems").show();
		});
		$('.nav.navbar-nav li a').click(function() {
			$(this).closest("li").addClass('active').siblings().removeClass('active');
			return(false);   // no default behavior from clicking on the link
		});
		$('#list-group-item').on('click',function(){
			if($(this).hasClass('active'))
				$(this).removeClass('active');
			else
				$(this).addClass('active');
		});
	});
    </script>

</head>
<body ng-app="" style="overflow-x:hidden">
<div class="container">
    <!--Header-->
    <header style="background-color:#e5e5e5">
        <div class="row">
            <div class="col-sm-4">
                <img class="img-rounded" align="right" src="~/Files/Images/SwachhEnterprises.jpeg" alt="logo" width="120" height="90">
            </div>
            <div class="col-sm-5">
                <p align="left"><strong style="font-size:250%;color:#EF6526">Swachh Enterprises</strong></p>
                <p align="center"><strong><sub style="color:#30A763">Cleanliness at your doorstep</sub></strong></p>
            </div>
        </div>
    </header>
    <br>

        @RenderBody()

    <!--Address-->
    @*<footer style="background-color:#e5e5e5;min-width:1280px">
        <div class="row" align="center">
            <div class="col-sm-9">
            Contact Us:<br>
            Kranthi nagar Colony,
            Doctors Colony, <br>
            Saroornagar,
            Hyderabad, <br>
            Telangana 500035
                </div>
        </div>

    </footer>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</div>    
</body>
</html>
